body {
    background-image: url("https://www.freepik.com/free-vector/hand-painted-watercolor-galaxy-background_14350797.htm#fromView=keyword&page=1&position=0&uuid=d05d7edf-a342-4940-9ef7-667e2299e79a");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }